* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header h1 {
    color: aliceblue;
}

.menu a {
    color: aliceblue;
    padding-left: 10px;
    text-decoration: none;
}

.artice {
    width: 100vw;
    display: flex;
}

.img {
    width: 100%;
}